*
    box-sizing: border-box
    margin: 0
    padding: 0
    overflow: hidden
    
a 
    color: white !important

html, body
    height: 100vh
    width: 100vw
    
body
    background-color: #0F598C

ul
    padding: 1em !important
    background-color: #07324e

    li  
        background-color: #07324e

.grid
    height: 100% !important
    width: 100% !important
    
    

.cell
    position: relative
    height: 80vh !important
    border-radius: 20px
    border: 3px solid #07324e
    background-color: white
    margin: 0 !important


.grid-x 
    padding: 3em !important

.sender
    position: absolute
    display: flex
    bottom: 0
    margin-bottom: 0

    .intext
        margin-bottom: 0
        width: 100%

    .send    
        border: 1px solid black